<#@ template language="C#" hostspecific="true" #>
<#@ include file="Docker/DockerCompose.tt" #>
<#@ include file="Docker/DotnetDockerfile.tt" #>
<#@ include file="Docker/WebUiDockerfile.tt" #>
<#@ include file="Templates/Html/View.tt" #>

<#

    GenerateCompose();
    GenerateApiDockerFile();
    GenerateFrontEndDockerFile();
#>
